{% extends 'base.html.twig' %}

{% block title %}Edit MemberGroup{% endblock %}

{% block body %}
    <h1>Edit MemberGroup</h1>

    {{ include('member_group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_member_group_index') }}">back to list</a>

    {{ include('member_group/_delete_form.html.twig') }}
{% endblock %}
